{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="network" class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-transfer"></span> Network</div>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>IP</th>
                    <th>Bytes sent</th>
                    <th>Bytes recv</th>
                    <th>Packets sent</th>
                    <th>Packets recv</th>
                    <th>Errors in</th>
                    <th>Errors out</th>
                    <th>Dropped in</th>
                    <th>Dropped out</th>
                    <th>RX/s</th>
                    <th>TX/s</th>
                </tr>
            </thead>
            <tbody>
                {% for io in network_interfaces %}
                <tr>
                    <td>{{ io.name }}</td>
                    <td>{{ io.ip }}</td>
                    <td>{{ io.bytes_sent }}</td>
                    <td>{{ io.bytes_recv }}</td>
                    <td>{{ io.packets_sent }}</td>
                    <td>{{ io.packets_recv }}</td>
                    <td>{{ io.errin }}</td>
                    <td>{{ io.errout }}</td>
                    <td>{{ io.dropin }}</td>
                    <td>{{ io.dropout }}</td>
                    <td>{{ io.rx_per_sec|default(0)|filesizeformat }}</td>
                    <td>{{ io.tx_per_sec|default(0)|filesizeformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="connections" class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-transfer"></span> Connections</div>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>FD</th>
                    <th>PID</th>
                    <th>Family</th>
                    <th>Type</th>
                    <th>Local address</th>
                    <th>Remote address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for c in net_connections %}
                <tr>
                    <td>
                        {{ c.fd if c.fd > 0 else "-" }}
                    </td>
                    <td>
                        {% if c.pid %}
                            <a href="{{ url_for(".process", pid=c.pid) }}">{{ c.pid }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ socket_families[c.family] }}</td>
                    <td>{{ socket_types[c.type] }}</td>
                    <td>
                        {% if c.laddr[0] and c.laddr[1] %}
                            {{ c.laddr[0] }}:{{ c.laddr[1] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if c.raddr[0] and c.raddr[1] %}
                            {{ c.raddr[0] }}:{{ c.raddr[1] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ c.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}