{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div class="box">
        <div class="box-header">
            <span>Sensors</span>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Adapter Name</th>
                        <th>Sensor</th>
                        <th>Temperature (°C)</th>
                        <th>Max (°C)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sensor in sensors %}
                    <tr>
                        <td>{{ sensor['adapter'] }}</td>
                        <td>{{ sensor['label'] }}</td>
                        <td>{{ sensor['value'] }}</td>
                        <td>{{ sensor['max_temp'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
