{% extends "process.html" %}
{% block process_content %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>PID</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for p in process.get_children() %}
                <tr>
                    <td>{{ p.pid }}</td>
                    <td title="{{ p.cmdline|join("") }}">
                        <a href="/process/{{ p.pid }}">{{ p.name }}</a>
                    </td>
                    <td>{{ p.status}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}